# Ignore node_modules directory
node_modules/

# Ignore yarn.lock file
yarn.lock

# Ignore .env files
.env

# Ignore build output directories
dist/
build/

# Ignore logs
*.log

# Ignore editor-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db